<?xml version="1.0" encoding="UTF-8"?>
<!--
    $Id$
    $HeadURL$
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

<!--
  Notes:

  * The Package element describes the installer (summary properties for the MSI).
  * The Product element describes the software that's in the installer.

  * Components that install to a user profile must use a registry key under
    HKCU as its KeyPath, not a file.
  
-->

<?include setup.wxi ?>

    <!-- $(var.MyAppVersion) is set via command-line -->
    <Product
         Id="*"
         Name="$(var.MyAppVerName)"
         Language="1033"
         Version="$(var.MyAppVersion)"
         Manufacturer="$(var.MyAppPublisher)"
         UpgradeCode="$(var.MyProductUpgradeCode)">

         <!-- Package Id HAS to change everytime MSI is built -->
        <Package
            Id="*"
            InstallerVersion="301"
            Compressed="yes"
            Manufacturer="$(var.MyAppPublisher)"
            Description="$(var.MyPackageDescription)"
            Comments="$(var.MyPackageComments)" />

        <!-- Major upgrade, "Replacing Ourselves" -->
        <!-- http://www.tramontana.co.hu/wix/lesson4.php#4.2 -->
        <Upgrade Id="$(var.MyProductUpgradeCode)">
            <UpgradeVersion 
                OnlyDetect='no' Property='PREVIOUSFOUND'
                Minimum='0.0.1' IncludeMinimum='yes'
                Maximum='$(var.MyAppVersion)' IncludeMaximum='no' />
        </Upgrade>

        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallValidate" />
        </InstallExecuteSequence>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

        <Icon Id="MyAppIcon" SourceFile="$(var.MyAppIconPath)" />

        <!--Setting properties-->
        <Property Id="ARPPRODUCTICON" Value="MyAppIcon" />
        <Property Id="ARPCOMMENTS" Value="$(var.MyAppCopyright)" />
        <Property Id="ARPNOREPAIR" Value="1" />
        <Property Id="ARPCONTACT" Value="$(var.MyAppCurrentMaintainer)" />
        <Property Id="ARPHELPLINK" Value="$(var.MyAppSupportURL)" />
        <Property Id="ARPREADME" Value="$(var.MyAppSupportURL)" />

        <!--Directory structure-->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">

                <Directory
                     Id="MyAppPublisherDir" Name="$(var.MyAppPublisher)" >
                    <Directory
                         Id="MyProgramDir" Name="$(var.MyAppName)" />
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory
                     Id="MyPubShortcutsDir" Name="$(var.MyAppPublisher)" >
                    <Directory
                         Id="MyShortcutsDir" Name="$(var.MyAppName)" >
                        <Directory
                            Id="MyShortcutWebLinksDir" Name="Web" />
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <!--Components-->
        <DirectoryRef Id="MyProgramDir">
            <Component
                 Id="CMP_ReadMeTXT"
                 Guid="{39D96221-737B-4FC0-B195-16D80ED03AD5}">
                <File
                     Id="FILE_ReadMeTXT"
                     Source="$(var.MyAppReadMePath)" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!-- ISS Shortcuts: App, Readme, WebLinks and Desktop.
              TODO: Add option for Desktop shortcut -->

        <!--Start Menu Shortcuts-->
        <DirectoryRef Id="MyShortcutsDir">
            <Component Id="CMP_DocumentationShortcuts"
                 Guid="{B5197DC0-F25C-40A3-A8BC-B91BAD6A0905}">

                <Shortcut
                     Id="DocumentationStartMenuShortcut"
                     Name="Documentation"
                     Description="Read $(var.MyAppName) Documentation"
                     Target="[MyProgramDir]readme.txt" />

                <Shortcut
                     Id="UninstallShortcut"
                     Name="Uninstall $(var.MyAppName)"
                     Description="Uninstalls $(var.MyAppVerName)"
                     Target="[System64Folder]msiexec.exe"
                     Arguments="/x [ProductCode]" />

                <RemoveFolder
                     Id="RemoveMyShortcutsDir" On="uninstall" />

                <!-- Remove top level App Shortcut dir (Publisher) without
                     requiring a separate Component -->
                <RemoveFolder
                     Id="RemoveMyPubShortcutsDir"
                     Directory="MyPubShortcutsDir" On="uninstall" />

                <RegistryValue
                     Root="HKCU"
                     Key="$(var.MyAppRegistry)"
                     Name="installed"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!-- Start Menu Shortcuts for Web Resources -->
        <DirectoryRef Id="MyShortcutWebLinksDir">
            <Component Id="CMP_MyShortcutWebLinksDir" 
                       Guid="{2779B8A5-B7AB-42A7-B185-5ED43109933E}">

                <util:InternetShortcut Id="OnlineDocumentationShortcut"
                    Name="Documentation"
                    Target="$(var.MyAppSupportURL)"/>

                <util:InternetShortcut Id="HomepageShortcut"
                    Name="Homepage"
                    Target="$(var.MyAppHomePage)"/>

                <RegistryValue
                     Root="HKCU"
                     Key="$(var.MyAppRegistry)"
                     Name="installed"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />

                <RemoveFolder
                    Id="RemoveMyShortcutWebLinksDir" On="uninstall" />
            </Component>
        </DirectoryRef>

        <!--Features-->
        <Feature
             Id="ProductFeature" Title="Main Product" Level="1">
            <ComponentRef Id="CMP_ReadMeTXT" />
            <ComponentRef Id="CMP_DocumentationShortcuts" />
            <ComponentRef Id="CMP_MyShortcutWebLinksDir" />
        </Feature>

        <!--User Interface-->
        <!-- FIXME: Read http://www.tramontana.co.hu/wix/lesson2.php#2.2 -->
        <UIRef Id="WixUI_Minimal" />
        <WixVariable
            Id="WixUILicenseRtf"
            Value="$(var.MyAppLicensePath)" />

    </Product>
</Wix>
