<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    $Id$
    $HeadURL$
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<!-- 
    * The Package element publishes the summary properties for the MSI.
    * The Product element contains its actual content.
 -->

    <!-- The UpgradeCode should not be changed.  -->
    <Product
         Id="*"
         Name="Synclosure VERSION_PLACEHOLDER"
         Language="1033"
         Version="1.0.0.0"
         Manufacturer="WhyAskWhy.org"
         UpgradeCode="{B1F75719-7BD9-48C2-9760-87E7097D26AD}">

         <!-- Pg 18 -->
        <Package InstallerVersion="301" Compressed="yes" />
        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

        <!-- These props should be kept in sync with the values in setup.iss -->
        <Property Id="MYAPPNAME" 
                  Value="Synclosure" 
                  Secure="yes"/>

        <Property Id="MYAPPVERNAME" 
                  Value="Synclosure VERSION_PLACEHOLDER" 
                  Secure="yes"/>

        <Property Id="MYAPPPUBLISHER" 
                  Value="WhyAskWhy.org" 
                  Secure="yes"/>

        <Property Id="MYAPPSUPPORTURL" 
                  Value="http://projects.whyaskwhy.org/" 
                  Secure="yes"/>

        <Property Id="MYAPPPUBLISHERURL" 
                  Value="http://www.whyaskwhy.org/" 
                  Secure="yes"/>

        <Property Id="MYAPPCOPYRIGHTOWNER" 
                  Value="WhyAskWhy.org" 
                  Secure="yes"/>

        <Property Id="MYAPPCOPYRIGHTYEAR" 
                  Value="2007" 
                  Secure="yes"/>

        <!--Directory structure-->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory
                     Id="MyProgramDir" Name="[MYAPPPUBLISHER]" />
                <Directory Id="ProgramMenuFolder">
                    <Directory
                         Id="MyShortcutsDir" Name="[MYAPPPUBLISHER]" />
                </Directory>
            </Directory>
        </Directory>

        <!--Components-->
        <DirectoryRef Id="MyProgramDir">
            <Component
                 Id="CMP_InstallMeTXT"
                 Guid="E8A58B7B-F031-4548-9BDD-7A6796C8460D">
                <File
                     Id="FILE_InstallMeTXT"
                     Source="InstallMe.txt" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!--Start Menu Shortcuts-->
        <DirectoryRef Id="MyShortcutsDir">
            <Component Id="CMP_DocumentationShortcut"
                 Guid="33741C82-30BF-41AF-8246-44A5DCFCF953">

                <Shortcut
                     Id="DocumentationStartMenuShortcut"
                     Name="Documentation"
                     Description="Read [MYAPPNAME] Documentation"
                     Target="[MyProgramDir]InstallMe.txt" />

                <Shortcut
                     Id="UninstallShortcut"
                     Name="Uninstall InstallPractice"
                     Description="Uninstalls Awesome Software"
                     Target="[System64Folder]msiexec.exe"
                     Arguments="/x [ProductCode]" />

                <RemoveFolder
                     Id="RemoveMyShortcutsDir" On="uninstall" />

                <!-- ICE38: Component CMP_DocumentationShortcut installs 
                to user profile. It must use a registry key under 
                HKCU as its KeyPath, not a file. -->
                <RegistryValue
                     Root="HKCU"
                     Key="Software\[MYAPPPUBLISHER]\[MYAPPNAME]"
                     Name="installed"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!--Features-->
        <Feature
             Id="ProductFeature" Title="Main Product" Level="1">
            <ComponentRef Id="CMP_InstallMeTXT" />
            <ComponentRef Id="CMP_DocumentationShortcut" />
        </Feature>

        <!--User Interface-->
        <!-- FIXME: Read http://www.tramontana.co.hu/wix/lesson2.php#2.2 -->
        <UIRef Id="WixUI_Minimal" />
        <WixVariable 
            Id="WixUILicenseRtf" 
            Value="..\licenses\synclosure\license.rtf" />

    </Product>
</Wix>
